---
interface Props extends astroHTML.JSX.ButtonHTMLAttributes {
	variant?: "primary" | "secondary";
	glow?: boolean;
	className?: string;
	dialogtarget?: string;
	href?: string;
	id: string;
}

const {
	variant = "secondary",
	glow,
	type = "button",
	className = "",
	href,
	id,
	...buttonProps
} = Astro.props;
---

{href ? (
  <a id={id} class={`button ${variant} ${glow ? 'glow ' : ''}${className}`} href={href}>
      <slot />
  </a>
) : (
<button id={id} transition:persist={id} class={`button ${variant} ${glow ? 'glow ' : ''}${className}`} type={type} {...buttonProps}>
  <slot />
</button>
)}
<script>
  const buttons = document.querySelectorAll('button[dialogtarget]');
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const dialog = document.getElementById(button.getAttribute('dialogtarget') as string) as HTMLDialogElement;
      dialog.inert = false;
      dialog?.showModal();
    });
  });
</script>
<style>
  .button {
    appearance: none;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 800;
    font-size: 1rem;
    flex: 1;
    text-wrap: nowrap;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;
    width: 100%;
    box-sizing: border-box;
  }

  .button.glow {
    background-color: gold;
  }

  .button:not(:disabled):hover {
    background-color: rgb(255, 179, 0);
    transform: scale(1.0125, 1.025);
    transform-origin: center;
  }

  .button:not(:disabled):focus-visible {
    outline: 4px solid rgb(255, 179, 0);
    outline-offset: 2px;
    transform: scale(1.0125, 1.025);
    transform-origin: center;
  }

  .button:disabled:disabled {
    background-color: darkgray;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
  }

</style>
